main {
  background-color: #f6b25e;
  padding: 1rem 2rem 3rem 2rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif; }

h2 {
  color: black;
  font-family: 'Courgette', cursive;
  font-size: 3rem; }

h3 {
  color: black;
  font-family: 'Courgette', cursive;
  font-size: 2.3rem; }

.carta {
  padding: 1rem; }
  .carta img {
    height: 60%; }

footer {
  height: 20vh;
  padding: 0;
  margin: 0; }

header nav {
  background-color: #3a3229; }
  header nav div {
    background-color: #fdd8ab; }
    header nav div a {
      font-family: 'Courgette', cursive;
      font-family: 'MonteCarlo', cursive;
      font-size: 2rem; }

@media (min-width: 768px) {
  .main {
    padding: 3rem; }
    .main h2 {
      font-size: 4rem; } }

@media (min-width: 980px) {
  .main {
    padding: 3rem 1rem 5rem 1rem; }
    .main div a img {
      height: 50%;
      width: 30%; }
    .main div h2 {
      font-size: 5rem; } }

ul li {
  animation: backInDown;
  animation-duration: 1s; }
  ul li li {
    animation: none; }

ul li:hover {
  background-color: #f69606;
  animation: pulse;
  animation-duration: 1s; }

.carta {
  animation: flipInY;
  animation-duration: 1s; }

p {
  animation: slideInDown;
  animation-duration: 2s; }

* {
  padding: 0;
  margin: 0; }

body {
  height: 100vh; }

p {
  font-size: 1.2rem; }
