
ul{
li:hover{
    background-color: $lihover;
    animation: pulse;
    animation-duration: 1s;
    
}
}
.carta{
    animation: flipInY;
    animation-duration: 1s;
}

p{
animation: slideInDown;
animation-duration: 0.5s ;
}
