
header{ 
    nav{
        background-color: $header;
        div{ background-color: $divheader;
            a{
                font-family: 'Alegreya Sans', sans-serif;
                font-size: 2rem;
            }
        }
    }
}
.icono{
    width: 20px;
}