@import "colors";

main{
    background-color: $main;
    padding: 1rem 2rem 3rem 2rem;
    color: black;
    font-family: 'Alegreya Sans', sans-serif;
}
div p{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.4rem;
}
h2{
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 4rem;
}
div h3{
    color: black;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2.3rem;
}
.carta{ padding: 1rem;
    img{
        height: 60%;
    }
}