//IMPORTS
@import "main";
@import "footer";
@import "colors";
@import "header";
@import "responsive";
@import "animaciones";

//Variables


* {padding: 0;
    margin: 0;
}
body{
    height: 100vh;
}
p{ 
    font-size: 1.2rem;
}
